{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 align = "center">Руководство пользователя</h2>
        
        <h4>Загрузка документов</h4>
        <ol>
            <li>Перейдите на страницу "Загрузить"</li>
            <li>Введите временное название документа</li>
            <li>Выберите файл</li>
            <li>Нажмите "Загрузить и обработать"</li>
            <li>Система автоматически извлечет уникальные слова и проанализирует их</li>
        </ol>
        
        <h4>Редактирование</h4>
        <p>На вкладе главная при просмотре документа, вы можете начать редактирование, чтобы изменить загруженный текст. Он автоматически будет переразмечен. </p> 
        
        <h4>Поиск</h4>
        <h5>Обычный поиск</h5>
        <p>Можно ввести слово, выбрать является это слово словоформой или леммой и провести поиск. </p>
        <p>По желанию можно применить фильтры по части речи или по грамматическим характеристикам </p>

        <h5>Конкордансный поиск</h5>
        <p>Можно ввести слово, выбрать 3, 5 или 7 слов будут отображаться в контексте справа и слева, провести поиск. </p>
        <p>По желанию можно применить фильтры по части речи или по грамматическим характеристикам </p>

        <h4>Статистика</h4>
        <p>Отображение общей характеристики по документам.</p>
         <div class="mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">На главную</a>
        </div>
    </div>
</div>
{% endblock %}